*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.todoConta{
    display: flex;
    justify-content: center;align-items: center;
   background:linear-gradient(90deg, #81ecc5, #e1d5da) ;
    height: 100vh;
    width: 100%;
}

.contaForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    background: rgb(149, 149, 246);
    border-radius: 5px;
    border: 2px solid #fff;
}

li{
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 300px;
    border: 2px solid limegreen;
    border-radius: 8px;
    align-items: center;
    padding: 5px;
    margin-top: 15px;
}
.iconBox{
    display: flex;
    gap: 10px;
}
.listBox{
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 300px;
    border: 2px solid blue;
    border-radius: 8px;
    align-items: center;
    padding: 5px;
    margin-top: 15px; 
}
div{
    display: flex;
    gap: 10px;
    font-size: 18px;
}
.todoInput{
    height: 35px;
    width: 250px;
}
.todoBtn{
    height: 35px;
    width: 55px;
    background:rgb(149, 149, 246);
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
}


button{
    width: 200px;
    height: 50px;
    
}